# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules/

# misc
/.sass-cache
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/yarn-error.log
/testem.log
/node-tests/fixtures/simple-app/ember-service-worker.tgz
/node-tests/fixtures/simple-app/package-lock.json
/node-tests/fixtures/tmp/*

# jekyll docs
/docs/_site

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try
