---
language: node_js
node_js:
  - "6"
  - "8"
  - "stable"

sudo: false

cache:
  directories:
    - $HOME/.npm
    - node_modules
    - node-tests/fixtures/simple-app/node_modules

env:
  - TEST_SCENARIO=test
  - TEST_SCENARIO=fastboottest

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

before_install:
  - npm --version

install:
  - npm install

script:
  - npm run $TEST_SCENARIO
