---
language: node_js
node_js:
  - "6"
  - "stable"

sudo: required
dist: trusty

cache:
  directories:
    - node_modules
    - node-tests/fixtures/simple-app/node_modules
    - chrome-linux

env:
  - TEST_SCENARIO=test
  - TEST_SCENARIO=fastboottest

matrix:
  fast_finish: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary

before_install:
  - if [[ $(npm -v | cut -d '.' -f 1) -lt 3 ]]; then npm i -g npm@^3; fi
  - npm config set spin false
  - npm install -g bower

install:
  - cd node-tests/fixtures/simple-app && npm install && bower install && cd -
  - npm install

before_script:
  - export DISPLAY=:99.0
  - export LIGHTHOUSE_CHROMIUM_PATH="$(pwd)/chrome-linux/chrome"
  - sh -e /etc/init.d/xvfb start
  - ./scripts/download-chrome.sh

script:
  - npm run $TEST_SCENARIO
